name: Build mosaicod Docker Image

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          # Lowercases the image name automatically for GHCR compatibility
          images: ghcr.io/${{ github.repository_owner }}/mosaicod
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable=${{ !contains(github.ref, 'rc') }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: mosaicod
          file: docker/dockerfiles/Dockerfile.mosaicod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # Enables GitHub Actions cache to speed up Rust compilation in Docker
          cache-from: type=gha
          cache-to: type=gha,mode=max
